# Nuxt
.nuxt
.output
.data
.nitro
.cache
dist

# Dependencies
node_modules

# Logs
*.log*

# Misc
.DS_Store
.fleet
.idea
.vscode/*
!.vscode/extensions.json

# Local env files
.env
.env.*
!.env.example
